body {
font-family: roboto, sans-serif;
display: flex;
flex-direction: column;
margin: 0;
}

.cont-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.header-grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 120px;
    margin-bottom: 30px;

}

.hero-all {
    display: flex;
    justify-content: space-between;
    padding: 90PX 120px;
    gap: 20Px;
}
 
.hero-all-text {
    display: flex;
  justify-content: center;
    flex-direction: column;
   gap: 10px;

}
 
ul {
    list-style: none;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20PX;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 300;
    font-size: 15px;

}
.header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.hero-text {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    padding: 8px 30px;
    border-radius: 6px;
    font-weight: bold;
    

